/* Style the body */

html {
  font-family: 'Space Mono', monospace;
  background: url('https://agalmicautomata.com/images/rainue.png'), url('https://agalmicautomata.com/images/background.jpg');
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 10%;
  margin: -5px;
  background-repeat: repeat-y, repeat-y;
  animation: rain-animate 0.2s linear infinite;
}

/* Style the header */
header {
  background-color: #0f0f0f;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Space Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
  color: silver;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  font-family: 'Space Mono', monospace;
}

p {
  color: darkgray;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu nav_ */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  padding-left: 5px;
}

nav ul a {
  font-variant: all-small-caps;
  font-variant-numeric:oldstyle-nums;
  padding-left: 10px;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  font-size: 8px;
  text-align: center;
  color: white;
}

/* Setting up link style */

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* Kanawashi Rain */
@keyframes rain-animate{
  0%{
    background-position: 20% 100%, 0% 0%;
  }
  100%{
    background-position: 0% 0%;
  }
}

/*
@keyframes rain-animate{
  0%{
    background-position: 20% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}

html {
  width: 100%;
  height: 100%;
  background: url('images/rainue.png'), url('images/backgrounding.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

body {
  font-family: 'Space Mono', monospace;
  background: url('images/rainue.png');
  background-repeat: repeat-y;
  animation: rain-animate 0.2s linear infinite;
  padding: 55px;
  margin: -5px;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}
*/
